# general imports
configargparse
pyopengl

# visiongraph
onnxruntime; platform_system != "Darwin" and platform.machine != 'arm64'
visiongraph[numba]>=0.1.22.2; platform_system != "Darwin" and platform.machine != 'arm64'
visiongraph[realsense, azure, mediapipe, openvino]>=0.1.22.2

# gui related
open3d
duit[all]==0.1.0

# macos
syphonpy; platform_system == "Darwin"
glfw; platform_system == "Darwin"

# windows
SpoutGL; platform_system == "Windows"