# general imports
configargparse
pyopengl

# visiongraph
visiongraph[realsense, azure, mediapipe, openvino, numba, onnxruntime, media]>=0.1.24

# gui related
open3d
duit[all]>=0.1.2

# macos
syphonpy; platform_system == "Darwin"
glfw; platform_system == "Darwin"

# windows
SpoutGL>=0.0.3; platform_system == "Windows"