# general imports
configargparse
pyopengl

# visiongraph
visiongraph[realsense, azure, mediapipe, numba, onnx, media]>=0.1.30.4
protobuf<=3.20.1
numpy<=1.22.4

# gui related
open3d==0.15.1
duit[all]>=0.1.2.1

# macos
syphonpy; platform_system == "Darwin"
glfw; platform_system == "Darwin"

# windows
SpoutGL>=0.0.4; platform_system == "Windows"